<server description="Arquillian Server">

    <featureManager>
        <feature>batch-2.0</feature>
        <feature>pages-3.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>cdi-3.0</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-5.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute 
        to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />

    <applicationMonitor updateTrigger="mbean" />

    <databaseStore dataSourceRef="batchDB" id="BatchDatabaseStore"/>

    <batchPersistence jobStoreRef="BatchDatabaseStore"/>

    <library id="DerbyLib">
        <fileset dir="${server.config.dir}/lib/global" includes="derby*jar"/>
    </library>

    <library id="H2Lib">
        <fileset dir="${server.config.dir}/lib/global" includes="h2*jar"/>
    </library>

    <dataSource id="batchDB"  type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="DerbyLib"/>
        <!--
        <jdbcDriver libraryRef="H2Lib"/>
        -->
        <properties createDatabase="create" databaseName="BATCHDB" user="user" password="pass"/>
    </dataSource>

    <dataSource id="orderDS" jndiName="jdbc/orderDB" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="DerbyLib"/>
        <!--
        <jdbcDriver libraryRef="H2Lib"/>
        -->
        <properties createDatabase="create" databaseName="BATCHDB" user="user" password="pass"/>
        <!--
        <connectionManager enableSharingForDirectLookups="false"/>
        -->
    </dataSource>
</server>

